/**
 * Form fields
 */
.wpcw-widget .form {
	overflow: auto;
	margin-bottom: 1em;
}
.wpcw-widget .title {
	margin-top: 1em;
}
.wpcw-widget .form p {
	margin: 0 0 10px 0;
}
.wpcw-widget .form p.sortable-placeholder {
	margin: 0 0 8px 0;
}
.wpcw-widget .form label i {
	margin: 0 7px 0 3px;
}
.wpcw-widget .form > p > span {
	display: table;
	width: 100%;
}
.wpcw-widget .form > p textarea {
	min-height: 80px;
	resize: none;
	vertical-align: top; /* Bottom margin fix for webkit */
}
.wpcw-widget .form.ui-sortable > p .widefat {
	display: table-cell;
	width: 100%; /* Customizer compat */
}
.wpcw-widget .form.ui-sortable .wpcw-widget-sortable-handle {
	display: table-cell;
	position: relative;
	width: 25px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-left: none;
	cursor: row-resize;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	        box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.wpcw-widget .form.ui-sortable .wpcw-widget-sortable-handle:active,
.wpcw-widget .form.ui-sortable .ui-sortable-helper * {
	cursor: row-resize;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.wpcw-widget .form.ui-sortable span.dashicons {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	font-size: 18px;
	color: #a0a5aa;
}
.wpcw-widget .form.ui-sortable span.dashicons:before {
	position: relative;
	top: 1px;
}

/**
 * Default fields
 */
.wpcw-widget .default-fields {
	display: none;
}

/**
 * Icons
 */
.wpcw-widget-social .icons {
	margin: 10px 0;
}
.wpcw-widget-social .icons a {
	margin: 5px;
	font-size: 20px;
	display: inline-block;
}
.wpcw-widget-social .icons a:focus {
	box-shadow: none;
}
.wpcw-widget-social .icons a.inactive:not(:hover) {
	color: #ccc;
}

/**
 * Hours of Operation Widget
 */
.wpcw-widget-hours .form div {
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
}

	.wpcw-widget-hours .form label + div {
		margin-top: 8px;
	}

	.wpcw-widget-hours .additional_content .wpcw-widget-sortable-handle {
		display: none;
	}

	.wpcw-widget-hours .form .js_wpcw_apply_hours_to_all span.dashicons {
		position: relative;
		color: inherit;
		text-decoration: inherit;
		font-size: inherit;
		margin-left: -5px;
	}

	.wpcw-widget-hours .day-checkbox-toggle {
		float: right;
	}

.wpcw-widget-hours input[type="checkbox"] {
	transform: scale( 0.75 );
	margin-right: 2px;
}

.wpcw-widget-hours select {
	width: 49%;
	min-width: auto;
	float: left;
	margin-bottom: 8px;
}

.wpcw-widget-hours .form div p {
	display: inline-block;
	width: 100%;
	margin: 0;
}
