.wpcw-widget-contact ul,
.wpcw-widget-social ul,
.wpcw-widget-hours ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wpcw-widget-contact ul li,
.wpcw-widget-social ul li.has-label,
.wpcw-widget-hours ul li {
	padding: 10px 0;
}
.wpcw-widget-contact ul li:before,
.wpcw-widget-contact ul li:after,
.wpcw-widget-social ul li:before,
.wpcw-widget-social ul li:after,
.wpcw-widget-hours ul li:before,
.wpcw-widget-hours ul li:after {
	display: none;
}
.wpcw-widget-contact ul li div {
	display: inline;
}
.wpcw-widget-social ul li:not(.has-label) {
	display: inline-block;
	margin: 0 0.75em 0.75em 0;
	border: none;
}
.wpcw-widget-social ul li.has-label a,
.wpcw-widget-hours ul li strong.day,
.wpcw-widget-hours ul li time {
	display: block;
}
.wpcw-widget-social ul li.has-label span {
	margin-right: 0.25em;
}
.wpcw-widget-hours ul li span.wpcw-open-sign {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 4px;
	border: 1px solid transparent;
}
.wpcw-widget-hours ul li span.wpcw-open-sign.open {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.wpcw-widget-hours ul li span.wpcw-open-sign.closed {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
